<!-- This file is part of design repo don't edit it from anywhere else -->
<!-- icon in the highest resolution we need it for -->
<link rel="icon" sizes="192x192" href="{{ SITEURL }}/theme/favicons/favicon.png">
<link rel="icon" sizes="144x144" href="{{ SITEURL }}/theme/favicons/favicon-144x144.png">
<link rel="icon" sizes="96x96" href="{{ SITEURL }}/theme/favicons/favicon-96x96.png">
<link rel="icon" sizes="48x48" href="{{ SITEURL }}/theme/favicons/favicon-48x48.png">
<link rel="shortcut icon" href="{{ SITEURL }}/theme/favicons/favicon.ico>

<!-- Safari -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ SITEURL }}/theme/favicons/apple-touch-icon.png">
<meta name="apple-mobile-web-app-title" content="lyceum.fr">

<!-- multiple icons for IE -->
<meta name="msapplication-square310x310logo" content="mstile-310x310.png">

<link rel="mask-icon" href="{{ SITEURL }}/theme/favicons/safari-pinned-tab.svg color="#5bbad5">
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="msapplication-TileImage" content="mstile-144x144.png>

<!-- Theme color for Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#003CBA">
<link rel="manifest" href="{{ SITEURL }}/theme/favicons/site.webmanifest>
<meta name="application-name" content="lyceum.fr">
